<div class="navbar navbar-expand-lg navbar-dark bg-secondary shadow sticky-top">
  <div class="container">
    <a class="navbar-brand" style="cursor: pointer;">
      <i class="bi bi-briefcase-fill me-2"></i> JobTracker
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link " (click)="navigateToDashboard()" style="cursor: pointer;">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateToJobApplications()" style="cursor: pointer;">My Applications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="naviagateToContacts()" style="cursor: pointer;">Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="naviagateToInterviews()" style="cursor: pointer;">Interviews</a>
        </li>
        <li class="nav-item ms-lg-3 d-flex align-items-center">
          <div class="form-check form-switch mb-0 mt-1">
            <!-- The [checked] binding makes sure the switch position matches the saved theme -->
            <input class="form-check-input custom-toggle" type="checkbox" role="switch" id="themeSwitch"
              [checked]="isDarkMode" (change)="toggleTheme()">
            <label class="form-check-label text-light" for="themeSwitch">
              <!-- Show different icon based on theme next to the switch -->
              <i class="bi" [ngClass]="isDarkMode ? 'bi-moon-stars-fill' : 'bi-sun-fill'"></i>
            </label>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>